#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #0087af;
}

#main .nav-pills > li > a:hover {
  background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #0087af;
}

#nav-top span.glyphicon {
  color: #0087af;
}

#table-of-contents header{
    color:#0087af;
}

#table-of-contents h2{
    background-color:#0087af;
}

#main a {
    background-image: linear-gradient(180deg,#d64a70,#d64a70);
    color:black;
}

a:hover{
    color:
}

a:visited{
    color:black
}

#table-of-contents {
color:orange;
background: black !important; 
}
