#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #0087af;
}

#main .nav-pills > li > a:hover {
  background-color: #fffffa;
}

h1{
    color: #0087af;
}

h2,h3,h4,h5,h6,legend{
    color: #008700;
    
}


#nav-top span.glyphicon {
  color: #008700;
}

#table-of-contents header{
    color:#0087af;
}

#table-of-contents h2{
    background-color:#008700;
}

#main a {
    background-image: linear-gradient(180deg,#d64a70,#d64a70);
    color:#af0000;
}

a:hover{
    color:
}

a:visited{
    color:black
}

#table-of-contents {
color:orange;
background: black !important; 
}
